/*Start header*/
.logo {
	font-size: 19px;	
	color: blueviolet;
}

nav li {
	position: relative;
}

#navbarNav a:hover {
	cursor: pointer;
	color: blueviolet;
}

.navbar-toggler {
	outline: 1px solid rgba(138, 43, 226, 0.15);
  border: 1px solid rgba(138, 43, 226, 0.15); 
}	

#navv {
	 box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

